{% extends "courses/acceptance_grouped_content.html" %}
{% load i18n %}

{% block content_nav %}
    {% trans "How well have students accepted the course?" as heading_note %}
    {% include "courses/_acceptance_content_nav.html" with active="first_level" first_levels=js_data.course.primaryContent heading_note=heading_note %}
{% endblock %}

{% block chart_tip_text %}
    {% trans "Each bar shows the number of unique views in terms of total views for that section. Click on bars to drill down and understand why." %}
{% endblock %}
