$brand-logo-path: '/static/images/harambee-logo.svg' !default;
$brand-logo-width: 213px !default;
$brand-logo-height: 50px !default;

@import "../mixins";

.masthead-brand-logo {
  @include brand-logo($brand-logo-path, $brand-logo-width, $brand-logo-height, 60px);
}

.navbar-brand {
  .navbar-brand-logo {
    @include brand-logo($brand-logo-path, $brand-logo-width, $brand-logo-height, 32px);
  }

  .navbar-brand-app {
    padding-top: 8px;
  }
}
